<%= form_for @list do |f| %>
<%= f.label :title, "List Title: " %>
<p><%= f.text_field :name %></p>
<%= f.label :description, "Description: " %>
<p><%= f.text_field :description %></p>
<%= f.submit "Submit" %>
<% end %>
